<!-- adalabers / quienes somos -->
<section class="quienesSomos">
    <span id="quienesSomos" class="teamTitle"></span>
    <h2 class="quienesSomosTitle">Quiénes somos</h2>
    <div class="pageContainer">
      <article class="adalaber alignLeft">
        <figure class="picWrapper">
          <img
            class="pic"
            src="http://placekitten.com/g/200/300"
            alt="Foto de Miguel"
          />
          <img
            class="bigPic"
            src="http://placekitten.com/g/200/300"
            alt="Foto de Miguel"
          />
        </figure>
        <div class="adalaberData">
          <h3 class="adalaberName">Miguel del Mazo</h3>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa blanditiis dolore, voluptatibus nemo quisquam eius deleniti placeat? Provident illo nisi repellat. Facilis perferendis error a, voluptas in autem alias ullam!
          </p>
          <ul>
            <li class="rrssAdalaber">
              <a href="https://twitter.com/miguel" target="_blank"
                ><i class="fab fa-twitter rrss"></i></a
              >·
            </li>
            <li class="rrssAdalaber">
              <a
                href="http://www.linkedin.com/in/miguel"
                target="_blank"
                ><i class="fab fa-linkedin-in rrss"></i></a
              >·
            </li>
            <li class="rrssAdalaber">
              <a href="https://github.com/miguel" target="_blank"
                ><i class="fab fa-github-alt rrss"></i></a
              >·
            </li>
            <li class="rrssAdalaber">
              <a href="mailto:miguel@adalab.es" target="_blank"
                ><i class="fas fa-envelope rrss"></i
              ></a>
            </li>
          </ul>
        </div>
      </article>
      <article class="adalaber alignRight">
        <figure class="picWrapper">
          <img
            class="pic"
            src="http://placekitten.com/g/300/300"
            alt="Foto de Dayana"
          />
          <img
            class="bigPic"
            src="http://placekitten.com/g/300/300"
            alt="Foto de Dayana"
          />
        </figure>
        <div class="adalaberData">
          <h3 class="adalaberName">Dayana Romero</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam vel, cupiditate perferendis magnam earum aliquam id eaque perspiciatis saepe, repellendus quis quidem animi, molestias fugit reprehenderit! Rem sequi non culpa.
          </p>
          <ul>
            <li class="rrssAdalaber">
              <a href="https://twitter.com/dayana" target="_blank"
                ><i class="fab fa-twitter rrss"></i></a
              >·
            </li>
            <li class="rrssAdalaber">
              <a
                href="https://www.linkedin.com/in/dayana/"
                target="_blank"
                ><i class="fab fa-linkedin-in rrss"></i></a
              >·
            </li>
            <li class="rrssAdalaber">
              <a href="https://github.com/dayana" target="_blank"
                ><i class="fab fa-github-alt rrss"></i></a
              >·
            </li>
            <li class="rrssAdalaber">
              <a href="mailto:dayana@adalab.es" target="_blank"
                ><i class="fas fa-envelope rrss"></i
              ></a>
            </li>
          </ul>
        </div>
      </article>
      <article class="adalaber alignLeft">
        <figure class="picWrapper">
          <img
            class="pic"
            src="http://placekitten.com/g/400/400"
            alt="Foto de Iván"
          />
          <img
            class="bigPic"
            src="http://placekitten.com/g/400/400"
            alt="Foto de Iván"
          />
        </figure>
        <div class="adalaberData">
          <h3 class="adalaberName">Iván Garrido</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam alias totam hic quos, odio ipsum recusandae saepe tenetur soluta molestiae autem illo et officiis voluptatum debitis enim porro dolor aspernatur?
          </p>
          <ul>
            <li class="rrssAdalaber">
              <a href="https://twitter.com/ivan" target="_blank"
                ><i class="fab fa-twitter rrss"></i></a
              >·
            </li>
            <li class="rrssAdalaber">
              <a
                href="https://www.linkedin.com/in/ivan"
                target="_blank"
                ><i class="fab fa-linkedin-in rrss"></i></a
              >·
            </li>
            <li class="rrssAdalaber">
              <a href="https://github.com/ivan" target="_blank"
                ><i class="fab fa-github-alt rrss"></i></a
              >·
            </li>
            <li class="rrssAdalaber">
              <a href="mailto:ivan@adalab.es" target="_blank"
                ><i class="fas fa-envelope rrss"></i
              ></a>
            </li>
          </ul>
        </div>
      </article>
    </div>
  </section>