<!-- Header -->
<header class="header">
  <div class="headingTop">
    <h1 class="nameTeam pageContainer">LosProfes</h1>
  </div>
  <div class="menu">
    <nav class="pageContainer">
      <ul class="menuOptions">
        <li>
          <a class="linkMenu" href="#equipoTitle">Equipo</a>
        </li>
        <li>
          <a class="linkMenu" href="#quienesSomos">Quiénes somos</a>
        </li>
        <li>
          <a class="linkMenu" href="./contacto.html">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>