<!--  TEAM and description-->
<span id="equipoTitle" class="teamTitle"></span>
<section class="mainContainer">
  <div class="teamContainer pageContainer">
    <article>
      <h2 class="team">Equipo</h2>
      <p class="teamText">
        Somos un equipo de profes muy enfocado a enseñar a Adalabers para que sean super-developers
      </p>
      <p class="teamText">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta dignissimos, temporibus vitae, dicta distinctio porro molestiae ratione adipisci veniam fugit, repellat aliquid at hic consectetur minima excepturi rem eius recusandae.<br />
        Somos super-profes!
      </p>
    </article>
  </div>

  <div class="strengthsContainer">
    <div class="strengthsWeaknesses pageContainer">
      <div class="square"></div>

      <article class="strengths one">
        <h2 class="strengthsTitle">Fortalezas</h2>
        <p class="strengthsText">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga dignissimos dolores rem sapiente, vel quaerat blanditiis modi quia eius, incidunt obcaecati. Id laboriosam nihil, magni nisi suscipit quibusdam minus cupiditate.
        </p>
      </article>

      <article class="strengths two">
        <h2 class="strengthsTitle">Áreas en desarrollo</h2>
        <p class="strengthsText">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, rem ducimus distinctio iste, iure nihil voluptas omnis eaque nostrum reiciendis fugit veritatis dignissimos neque ea vel sint maiores impedit odit.
        </p>
      </article>
    </div>
  </div>
</section>